In [2]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20230101', periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print(df)
# randn 标准正态分布 6行4列 index行名 columns是字符串化列表-表头

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2023-01-01  0.866500 -0.885362 -0.034413  1.410559
2023-01-02  0.023919  1.652708  1.996457 -1.250750
2023-01-03  0.067179  0.141690  1.808773 -0.850206
2023-01-04 -0.359630 -1.173455  0.279538  0.093221
2023-01-05  0.475914 -0.562549  1.819246 -0.716750
2023-01-06 -0.529636  1.258402 -1.884511  2.247928

In [4]:
df2 = pd.DataFrame(
    {
        'A': 1., # 广播 index行索引 [3]*4 是列表语法
        'B': pd.Timestamp('20230102'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(['test', 'train', 'test', 'train']),
        'F': 'foo'
    }
)
print(df2)
print()
print(df2.dtypes)

     A          B    C  D      E    F
0  1.0 2023-01-02  1.0  3   test  foo
1  1.0 2023-01-02  1.0  3  train  foo
2  1.0 2023-01-02  1.0  3   test  foo
3  1.0 2023-01-02  1.0  3  train  foo

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [29]:
print(df2.head(2))
print()
print(df2.tail(2))
print()
print(df2.A)
print()
print(f"形状是 {df2.shape}")
print()
print("列名columns:")
print(list(df2.columns))
print()
print("行索引index:")
print(df2.index)
print()
print("值values:")
print(df2.values)

     A          B    C  D      E    F
0  1.0 2023-01-02  1.0  3   test  foo
1  1.0 2023-01-02  1.0  3  train  foo

     A          B    C  D      E    F
2  1.0 2023-01-02  1.0  3   test  foo
3  1.0 2023-01-02  1.0  3  train  foo

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

形状是 (4, 6)

列名columns:
['A', 'B', 'C', 'D', 'E', 'F']

行索引index:
Index([0, 1, 2, 3], dtype='int64')

值values:
[[1.0 Timestamp('2023-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2023-01-02 00:00:00') 1.0 3 'train' 'foo']
 [1.0 Timestamp('2023-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2023-01-02 00:00:00') 1.0 3 'train' 'foo']]

In [31]:
print(df2.describe(include='number')) # 数字列 count, mean, std, min, 25%, 50%, 75%, max
print(df2.describe(include=['object','category','datetime'])) # 非数字列
print()
# print(df2.T)
print(df2.count()) #每列非空值个数
print()
# print(df2.describe(include='all')) #所有列

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0
                          B     E    F
count                     4     4    4
unique                  NaN     2    1
top                     NaN  test  foo
freq                    NaN     2    4
mean    2023-01-02 00:00:00   NaN  NaN
min     2023-01-02 00:00:00   NaN  NaN
25%     2023-01-02 00:00:00   NaN  NaN
50%     2023-01-02 00:00:00   NaN  NaN
75%     2023-01-02 00:00:00   NaN  NaN
max     2023-01-02 00:00:00   NaN  NaN

A    4
B    4
C    4
D    4
E    4
F    4
dtype: int64

In [21]:
print(df2['B'])  # 取单列，返回Series
print()
print(df2[['B','E']])  # 取多列，返回DataFrame
print()
print(df2[0:2])  # 按行号取行，返回DataFrame 0-1行
print()
print(df2[1:3])  # 按行号取行，返回DataFrame 1-2行
print()
print(df2[1:])  # 按行号取行，返回DataFrame 1-3行

0   2023-01-02
1   2023-01-02
2   2023-01-02
3   2023-01-02
Name: B, dtype: datetime64[s]

           B      E
0 2023-01-02   test
1 2023-01-02  train
2 2023-01-02   test
3 2023-01-02  train

     A          B    C  D      E    F
0  1.0 2023-01-02  1.0  3   test  foo
1  1.0 2023-01-02  1.0  3  train  foo

     A          B    C  D      E    F
1  1.0 2023-01-02  1.0  3  train  foo
2  1.0 2023-01-02  1.0  3   test  foo

     A          B    C  D      E    F
1  1.0 2023-01-02  1.0  3  train  foo
2  1.0 2023-01-02  1.0  3   test  foo
3  1.0 2023-01-02  1.0  3  train  foo

In [33]:
print(df2[['E','F']].describe()) #非数字列：count, unique, top, freq
print()
print(df2['E'].unique())  # 查看某列的唯一值
print()
print(df2['E'].value_counts())  # 查看某列的值频次
print()
print(df2['A'].sum())  # 某列求和
print()
print(df2['A'].mean())  # 某列均值

           E    F
count      4    4
unique     2    1
top     test  foo
freq       2    4

['test', 'train']
Categories (2, object): ['test', 'train']

E
test     2
train    2
Name: count, dtype: int64

4.0

1.0

In [39]:
# loc：标签
# iloc：整数位置
print(df2)
print()
print(df2.loc[0:2, ['A','B']]) # loc 基于标签，0:2包含2
print()
print(df2.iloc[0:2, [0,1]]) # iloc 基于位置，0:2不包含2
print()
print(df2.iloc[1, 2:]) 
print()

     A          B    C  D      E    F
0  1.0 2023-01-02  1.0  3   test  foo
1  1.0 2023-01-02  1.0  3  train  foo
2  1.0 2023-01-02  1.0  3   test  foo
3  1.0 2023-01-02  1.0  3  train  foo

     A          B
0  1.0 2023-01-02
1  1.0 2023-01-02
2  1.0 2023-01-02

     A          B
0  1.0 2023-01-02
1  1.0 2023-01-02

C      1.0
D        3
E    train
F      foo
Name: 1, dtype: object

In [51]:
# 布尔索引
print(df2)
print()
print(df2['E'] == 'train')  # 布尔值序列
print()
print(df2[df2['E'] == 'train'])  # 筛选行
print()
print(df2[df2['A'] > 1])  
print()
print(df2[df2['E'].isin(['train','fat'])]) # 筛选多值行
print()
print(df2[(df2['A'] > 0) & (df2['D'] < 5) & (df2['E'] == 'train')])

     A          B    C  D      E    F
0  1.0 2023-01-02  1.0  3   test  foo
1  1.0 2023-01-02  1.0  3  train  foo
2  1.0 2023-01-02  1.0  3   test  foo
3  1.0 2023-01-02  1.0  3  train  foo

0    False
1     True
2    False
3     True
Name: E, dtype: bool

     A          B    C  D      E    F
1  1.0 2023-01-02  1.0  3  train  foo
3  1.0 2023-01-02  1.0  3  train  foo

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

     A          B    C  D      E    F
1  1.0 2023-01-02  1.0  3  train  foo
3  1.0 2023-01-02  1.0  3  train  foo

     A          B    C  D      E    F
1  1.0 2023-01-02  1.0  3  train  foo
3  1.0 2023-01-02  1.0  3  train  foo

In [54]:
df3 = pd.DataFrame(
    {
        'A': [1,2,3,4],
        'B': [4,3,2,1],
        'C': [10,20,30,40],
        'D': ['a','b','c','d'],
        'E': ['b','a','b','a']
    }
)
print(df3)
print() # 行排序：
print(df3.sort_values(by='B',ascending=True))  # 按单列排序
print()
print(df3.sort_values(by=['E','D'],ascending=[True,False]))  #
print()
print(df3.sort_index(axis=0, ascending=False))  # 按行索引

   A  B   C  D  E
0  1  4  10  a  b
1  2  3  20  b  a
2  3  2  30  c  b
3  4  1  40  d  a

   A  B   C  D  E
3  4  1  40  d  a
2  3  2  30  c  b
1  2  3  20  b  a
0  1  4  10  a  b

   A  B   C  D  E
3  4  1  40  d  a
1  2  3  20  b  a
2  3  2  30  c  b
0  1  4  10  a  b

   A  B   C  D  E
3  4  1  40  d  a
2  3  2  30  c  b
1  2  3  20  b  a
0  1  4  10  a  b

In [63]:
# 创建 df4：数据类型包括 float, datetime, object, int
df4 = pd.DataFrame({
    "A": [1.0, np.nan, 3.5, 4.0],
    "B": [pd.Timestamp("20230101"), pd.Timestamp("20230102"), np.nan, pd.Timestamp("20230104")],
    "C": ["foo", "bar", np.nan, "baz"],
    "D": [10, 20, 30, np.nan],
    "E": [np.nan, 1.2, np.nan, 4.5]
})

print("--- 原始的 df4 表格（含有缺失值 NaN） ---")
print(df4)
print()
# 检测缺失值
print(df4.isnull())  # 返回布尔值表格   
print()
print(df4.isnull().sum())  # 每列缺失值个数
print()
# 填充缺失值
df4_filled_1 = df4.fillna(method='ffill')  # 前向填充
print("--- 用前向填充法填充缺失值后的 df4 表格 ---")
print(df4_filled_1)
print()
df4_filled_2 = df4.fillna(method='bfill')  # 后向填充
print("--- 用后向填充法填充缺失值后的 df4 表格 ---")
print(df4_filled_2)
df4.filled_3 = df4.fillna(df4.mean(numeric_only=True))  # 用均值填充数值列缺失值
print("--- 用均值填充数值列缺失值后的 df4 表格 ---")
print(df4.filled_3)
print()
print(df4.fillna(value=0))  # 用0填充缺失值
print()

--- 原始的 df4 表格（含有缺失值 NaN） ---
     A          B    C     D    E
0  1.0 2023-01-01  foo  10.0  NaN
1  NaN 2023-01-02  bar  20.0  1.2
2  3.5        NaT  NaN  30.0  NaN
3  4.0 2023-01-04  baz   NaN  4.5

       A      B      C      D      E
0  False  False  False  False   True
1   True  False  False  False  False
2  False   True   True  False   True
3  False  False  False   True  False

A    1
B    1
C    1
D    1
E    2
dtype: int64

--- 用前向填充法填充缺失值后的 df4 表格 ---
     A          B    C     D    E
0  1.0 2023-01-01  foo  10.0  NaN
1  1.0 2023-01-02  bar  20.0  1.2
2  3.5 2023-01-02  bar  30.0  1.2
3  4.0 2023-01-04  baz  30.0  4.5

--- 用后向填充法填充缺失值后的 df4 表格 ---
     A          B    C     D    E
0  1.0 2023-01-01  foo  10.0  1.2
1  3.5 2023-01-02  bar  20.0  1.2
2  3.5 2023-01-04  baz  30.0  4.5
3  4.0 2023-01-04  baz   NaN  4.5
--- 用均值填充数值列缺失值后的 df4 表格 ---
          A          B    C     D     E
0  1.000000 2023-01-01  foo  10.0  2.85
1  2.833333 2023-01-02  bar  20.0  1.20
2  3.500000        NaT  NaN  30.0  2.85
3  4.000000 2023-01-04  baz  20.0  4.50

     A                    B    C     D    E
0  1.0  2023-01-01 00:00:00  foo  10.0  0.0
1  0.0  2023-01-02 00:00:00  bar  20.0  1.2
2  3.5                    0    0  30.0  0.0
3  4.0  2023-01-04 00:00:00  baz   0.0  4.5

C:\Users\19588\AppData\Local\Temp\ipykernel_15616\3906788190.py:19: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df4_filled_1 = df4.fillna(method='ffill')  # 前向填充
C:\Users\19588\AppData\Local\Temp\ipykernel_15616\3906788190.py:23: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df4_filled_2 = df4.fillna(method='bfill')  # 后向填充
C:\Users\19588\AppData\Local\Temp\ipykernel_15616\3906788190.py:26: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df4.filled_3 = df4.fillna(df4.mean(numeric_only=True))  # 用均值填充数值列缺失值

In [69]:
# NaN 的类型是浮点数。如果你的一列整数里出现了一个缺失值，
# Pandas 会把整列整数强制转换成浮点数（1 变成 1.0）来容纳 NaN
# NaN 和 NaT 都属于浮点数类型 缺失值
print(df4.dtypes)
print(df4)
print()
df4_mean_filled = df4.fillna(df4.mean(numeric_only=True)) 
print(df4_mean_filled)
print()
df4_median_filled = df4.copy()
df4_median_filled['D'] = df4['D'].fillna(df4['D'].median())
df4_median_filled['E'] = df4['E'].fillna(df4['E'].median())
df4_median_filled['A'] = df4['A'].fillna(df4['A'].median())
print("--- 用中位数填充数值列缺失值后的 df4 表格 ---")
print(df4_median_filled)

A           float64
B    datetime64[ns]
C            object
D           float64
E           float64
dtype: object
     A          B    C     D    E
0  1.0 2023-01-01  foo  10.0  NaN
1  NaN 2023-01-02  bar  20.0  1.2
2  3.5        NaT  NaN  30.0  NaN
3  4.0 2023-01-04  baz   NaN  4.5

          A          B    C     D     E
0  1.000000 2023-01-01  foo  10.0  2.85
1  2.833333 2023-01-02  bar  20.0  1.20
2  3.500000        NaT  NaN  30.0  2.85
3  4.000000 2023-01-04  baz  20.0  4.50

--- 用中位数填充数值列缺失值后的 df4 表格 ---
     A          B    C     D     E
0  1.0 2023-01-01  foo  10.0  2.85
1  3.5 2023-01-02  bar  20.0  1.20
2  3.5        NaT  NaN  30.0  2.85
3  4.0 2023-01-04  baz  20.0  4.50

In [73]:
df4_dropped = df4.dropna()  # 删除含有缺失值的行 how='any' 默认值
print("--- 删除含有缺失值的行后的 df4 表格 ---")
print(df4_dropped)
# describe() 会自动忽略缺失值 NaN
print(df4.describe())
print()
print(df4.mean(numeric_only=True))

print("\n--- 每一列非空值的数量 ---")
print(df4.count())

--- 删除含有缺失值的行后的 df4 表格 ---
Empty DataFrame
Columns: [A, B, C, D, E]
Index: []
              A                    B     D         E
count  3.000000                    3   3.0  2.000000
mean   2.833333  2023-01-02 08:00:00  20.0  2.850000
min    1.000000  2023-01-01 00:00:00  10.0  1.200000
25%    2.250000  2023-01-01 12:00:00  15.0  2.025000
50%    3.500000  2023-01-02 00:00:00  20.0  2.850000
75%    3.750000  2023-01-03 00:00:00  25.0  3.675000
max    4.000000  2023-01-04 00:00:00  30.0  4.500000
std    1.607275                  NaN  10.0  2.333452

A     2.833333
D    20.000000
E     2.850000
dtype: float64

--- 每一列非空值的数量 ---
A    3
B    3
C    3
D    3
E    2
dtype: int64

In [81]:
df5 = pd.DataFrame({
    "A": [1.0, 1.0, np.nan, 4.0],
    "B": [pd.Timestamp("20230101"), pd.Timestamp("20230101"), np.nan, pd.Timestamp("20230104")],
    "C": ["foo", "foo", np.nan, "baz"],
    "D": [10, 10, np.nan, 40],
    "E": pd.Categorical(["test", "test", np.nan, "train"])
})

print("--- 原始 df5（含有各种缺失值） ---")
print(df5)
print()
print("--- 每列的众数 df ---")
print(df5.mode()) # df
print()
modes = df5.mode().iloc[0]  # 获取每列的众数
print("--- 每列的众数 Series ---")
print(modes)
print()
df5_filled_mode = df5.fillna(modes)  # 用众数填充缺失值
print("--- 用众数填充缺失值后的 df5 表格 ---")
print(df5_filled_mode)
print()

print("--- 只选择 object 和 category 类型的列 df---")
print(df5.select_dtypes(include=['object', 'category']))
print()
# 只选择 object 和 category 类型进行 众数填充
obj_cols = df5.select_dtypes(include=['object', 'category']).columns
df5[obj_cols] = df5[obj_cols].fillna(df5[obj_cols].mode().iloc[0])

# 对数字列 用平均值填充
num_cols = df5.select_dtypes(include=['number']).columns
df5[num_cols] = df5[num_cols].fillna(df5[num_cols].mean())

print("\n--- 混合填充后的结果（分类用众数，数字用平均值） ---")
print(df5)

--- 原始 df5（含有各种缺失值） ---
     A          B    C     D      E
0  1.0 2023-01-01  foo  10.0   test
1  1.0 2023-01-01  foo  10.0   test
2  NaN        NaT  NaN   NaN    NaN
3  4.0 2023-01-04  baz  40.0  train

--- 每列的众数 df ---
     A          B    C     D     E
0  1.0 2023-01-01  foo  10.0  test

--- 每列的众数 Series ---
A                    1.0
B    2023-01-01 00:00:00
C                    foo
D                   10.0
E                   test
Name: 0, dtype: object

--- 用众数填充缺失值后的 df5 表格 ---
     A          B    C     D      E
0  1.0 2023-01-01  foo  10.0   test
1  1.0 2023-01-01  foo  10.0   test
2  1.0 2023-01-01  foo  10.0   test
3  4.0 2023-01-04  baz  40.0  train

--- 只选择 object 和 category 类型的列 ---
     C      E
0  foo   test
1  foo   test
2  NaN    NaN
3  baz  train


--- 混合填充后的结果（分类用众数，数字用平均值） ---
     A          B    C     D      E
0  1.0 2023-01-01  foo  10.0   test
1  1.0 2023-01-01  foo  10.0   test
2  2.0        NaT  foo  20.0   test
3  4.0 2023-01-04  baz  40.0  train

In [89]:
df6 = pd.DataFrame(np.random.randn(6, 3), columns=['A', 'B', 'C'])
print(df6)
print()
df6.to_numpy()
#nup=df6.to_numpy()
# print(nup)
# numpy 数组 只允许一种数据类型，dtype=object 的数组运行慢、占内存

          A         B         C
0  0.911534 -0.391048 -0.388247
1  0.838690 -1.169764  0.733309
2 -1.510329 -0.362764 -0.609782
3  1.504296  0.384481 -0.525886
4 -0.144767  0.627854  0.850860
5  0.699463  0.296307 -1.540740

array([[ 0.91153438, -0.3910483 , -0.388247  ],
       [ 0.83869002, -1.16976419,  0.73330874],
       [-1.51032873, -0.36276356, -0.60978152],
       [ 1.50429577,  0.38448145, -0.52588644],
       [-0.14476698,  0.62785365,  0.85086012],
       [ 0.69946283,  0.29630685, -1.54074006]])

In [92]:
print(df.head(2))
print()

df_numeric = df.select_dtypes(include=['number'])
print(df_numeric)
print()

df_numeric2 = df[df.select_dtypes(include=['number']).columns]
print(df_numeric2)
print()

matrix = df.select_dtypes(include=['number']).to_numpy()
print(matrix)
# float64 / int64 numpy 数组 运行快、占内存少

                   A         B         C         D
2023-01-01  0.866500 -0.885362 -0.034413  1.410559
2023-01-02  0.023919  1.652708  1.996457 -1.250750

                   A         B         C         D
2023-01-01  0.866500 -0.885362 -0.034413  1.410559
2023-01-02  0.023919  1.652708  1.996457 -1.250750
2023-01-03  0.067179  0.141690  1.808773 -0.850206
2023-01-04 -0.359630 -1.173455  0.279538  0.093221
2023-01-05  0.475914 -0.562549  1.819246 -0.716750
2023-01-06 -0.529636  1.258402 -1.884511  2.247928

                   A         B         C         D
2023-01-01  0.866500 -0.885362 -0.034413  1.410559
2023-01-02  0.023919  1.652708  1.996457 -1.250750
2023-01-03  0.067179  0.141690  1.808773 -0.850206
2023-01-04 -0.359630 -1.173455  0.279538  0.093221
2023-01-05  0.475914 -0.562549  1.819246 -0.716750
2023-01-06 -0.529636  1.258402 -1.884511  2.247928

In [95]:
# 默认升序
df_sorted = df.sort_values(by='A', ascending=False)
print(df_sorted)
print()

df_sorted_2 = df.sort_values(by = ['B','C'], ascending=[True,False])
print(df_sorted_2)
print()

# 排序时，缺失值（NaN）默认会排在最后面
df_sorted_3 = df.sort_values(by='A',na_position='first') 
print(df_sorted_3)

                   A         B         C         D
2023-01-01  0.866500 -0.885362 -0.034413  1.410559
2023-01-05  0.475914 -0.562549  1.819246 -0.716750
2023-01-03  0.067179  0.141690  1.808773 -0.850206
2023-01-02  0.023919  1.652708  1.996457 -1.250750
2023-01-04 -0.359630 -1.173455  0.279538  0.093221
2023-01-06 -0.529636  1.258402 -1.884511  2.247928

                   A         B         C         D
2023-01-04 -0.359630 -1.173455  0.279538  0.093221
2023-01-01  0.866500 -0.885362 -0.034413  1.410559
2023-01-05  0.475914 -0.562549  1.819246 -0.716750
2023-01-03  0.067179  0.141690  1.808773 -0.850206
2023-01-06 -0.529636  1.258402 -1.884511  2.247928
2023-01-02  0.023919  1.652708  1.996457 -1.250750

                   A         B         C         D
2023-01-06 -0.529636  1.258402 -1.884511  2.247928
2023-01-04 -0.359630 -1.173455  0.279538  0.093221
2023-01-02  0.023919  1.652708  1.996457 -1.250750
2023-01-03  0.067179  0.141690  1.808773 -0.850206
2023-01-05  0.475914 -0.562549  1.819246 -0.716750
2023-01-01  0.866500 -0.885362 -0.034413  1.410559

In [97]:
# 按照索引(index)排序 以下是默认 axis = 0 行索引 升序 重排行
df_sorted_index = df.sort_index(axis=0, ascending=True)
print(df_sorted_index)
print()
# axis = 1 按列名排序 重排列
df_sorted_index_2 = df.sort_index(axis=1, ascending=False)
print(df_sorted_index_2)

                   A         B         C         D
2023-01-01  0.866500 -0.885362 -0.034413  1.410559
2023-01-02  0.023919  1.652708  1.996457 -1.250750
2023-01-03  0.067179  0.141690  1.808773 -0.850206
2023-01-04 -0.359630 -1.173455  0.279538  0.093221
2023-01-05  0.475914 -0.562549  1.819246 -0.716750
2023-01-06 -0.529636  1.258402 -1.884511  2.247928

                   D         C         B         A
2023-01-01  1.410559 -0.034413 -0.885362  0.866500
2023-01-02 -1.250750  1.996457  1.652708  0.023919
2023-01-03 -0.850206  1.808773  0.141690  0.067179
2023-01-04  0.093221  0.279538 -1.173455 -0.359630
2023-01-05 -0.716750  1.819246 -0.562549  0.475914
2023-01-06  2.247928 -1.884511  1.258402 -0.529636

In [99]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Group': ['B', 'A', 'B', 'A', 'A'],
    'Score': [85, 92, 85, np.nan, 95],
    'Age': [20, 22, 19, 21, 18]
} # dict

# print(type(data))
df7 = pd.DataFrame(data)

print("原始 df7:")
print(df7)

原始 df7:
      Name Group  Score  Age
0    Alice     B   85.0   20
1      Bob     A   92.0   22
2  Charlie     B   85.0   19
3    David     A    NaN   21
4      Eve     A   95.0   18

In [103]:
# print(df7.sort_values(by='Score', ascending=False)) # 按照值排序
# print()
df_multi = df7.sort_values(by=['Group', 'Score'], ascending=[True, False])
print("按 Group 升序，Score 降序排序后的 df7:")
print(df_multi)
print()

# 默认last，现在让缺失值放最前面
df_multi_nan_first = df7.sort_values(by='Score', ascending=False, na_position='first')
print("按 Score 降序，缺失值放最前面排序后的 df7:")
print(df_multi_nan_first)
print()

# 排序后重置行号从0开始
df_clean = df7.sort_values(by='Score', ignore_index=True)
print("排序后重置行号后的 df7:")
print(df_clean)

按 Group 升序，Score 降序排序后的 df7:
      Name Group  Score  Age
4      Eve     A   95.0   18
1      Bob     A   92.0   22
3    David     A    NaN   21
0    Alice     B   85.0   20
2  Charlie     B   85.0   19

按 Score 降序，缺失值放最前面排序后的 df7:
      Name Group  Score  Age
3    David     A    NaN   21
4      Eve     A   95.0   18
1      Bob     A   92.0   22
0    Alice     B   85.0   20
2  Charlie     B   85.0   19

排序后重置行号后的 df7:
      Name Group  Score  Age
0    Alice     B   85.0   20
1  Charlie     B   85.0   19
2      Bob     A   92.0   22
3      Eve     A   95.0   18
4    David     A    NaN   21

In [107]:
# 原地：
print(df7)
print()
df7.sort_values(by=['Group', 'Score'], ascending=[True, False],inplace=True,ignore_index=True)
print("原地排序后的 df7:")
print(df7)
print()

print(df7['Score'] > 90)  # 布尔值序列 Score这一列 各行True/False
print()

# 筛选 True 行
filtered_df7 = df7[(df7['Group'] == 'A') & (df7['Score'] > 90)]
print("筛选 Group 为 'A' 且 Score 大于 90 的行后的 df7:")
print(filtered_df7)

      Name Group  Score  Age
0      Eve     A   95.0   18
1      Bob     A   92.0   22
2    David     A    NaN   21
3    Alice     B   85.0   20
4  Charlie     B   85.0   19

原地排序后的 df7:
      Name Group  Score  Age
0      Eve     A   95.0   18
1      Bob     A   92.0   22
2    David     A    NaN   21
3    Alice     B   85.0   20
4  Charlie     B   85.0   19

0     True
1     True
2    False
3    False
4    False
Name: Score, dtype: bool

筛选 Group 为 'A' 且 Score 大于 90 的行后的 df7:
  Name Group  Score  Age
0  Eve     A   95.0   18
1  Bob     A   92.0   22

In [111]:
# Groupby df.groupby('分组列')['数值列'].统计函数()
data = {
    'Name': ['Alice', 'Bob', 'Alice', 'Bob', 'Alice', 'Bob'],
    'City': ['北京', '北京', '上海', '上海', '北京', '上海'],
    'Month': ['Jan', 'Jan', 'Jan', 'Feb', 'Feb', 'Feb'],
    'Sales': [100, 200, 150, 300, 120, 250],
    'Profit': [10, 20, 15, 35, 12, 28]
}
df8 = pd.DataFrame(data)
print("原始 df8:")
print(df8)

print("\n--- 按 Name 分组，计算 Sales 总和 ---")
sales_sum = df8.groupby('Name')['Sales'].sum()
print(sales_sum)

print("\n--- 按 City 分组，计算 Profit 平均值 ---")
profit_mean = df8.groupby('City')['Profit'].mean()
print(profit_mean)

原始 df8:
    Name City Month  Sales  Profit
0  Alice   北京   Jan    100      10
1    Bob   北京   Jan    200      20
2  Alice   上海   Jan    150      15
3    Bob   上海   Feb    300      35
4  Alice   北京   Feb    120      12
5    Bob   上海   Feb    250      28

--- 按 Name 分组，计算 Sales 总和 ---
Name
Alice    370
Bob      750
Name: Sales, dtype: int64

--- 按 City 分组，计算 Profit 平均值 ---
City
上海    26.0
北京    14.0
Name: Profit, dtype: float64

In [120]:
print("--- 按 Month 分组，计算 Sales 和 Profit 的总和 ---") # 2列
sales_profit_sum = df8.groupby('Month')[['Sales', 'Profit']].sum()
print(sales_profit_sum)

print("\n--- 按 Name 和 City 分组，计算 Sales 总和 ---")
sales_sum_multi = df8.groupby(['Name', 'City'])['Sales'].sum()
print(sales_sum_multi)

print("\n--- 按 Name和 City 分组，计算 Sales 和 Profit 的均值和总和 ---")
sales_profit_agg = df8.groupby(['Name', 'City'])[['Sales', 'Profit']].agg(['mean', 'sum'])
print(sales_profit_agg)

--- 按 Month 分组，计算 Sales 和 Profit 的总和 ---
       Sales  Profit
Month
Feb      670      75
Jan      450      45

--- 按 Name 和 City 分组，计算 Sales 总和 ---
Name   City
Alice  上海      150
       北京      220
Bob    上海      550
       北京      200
Name: Sales, dtype: int64

--- 按 Name和 City 分组，计算 Sales 和 Profit 的均值和总和 ---
            Sales      Profit
             mean  sum   mean sum
Name  City
Alice 上海    150.0  150   15.0  15
      北京    110.0  220   11.0  22
Bob   上海    275.0  550   31.5  63
      北京    200.0  200   20.0  20

In [126]:
print("按城市查看销售额/利润 的总和和平均值:")
print(df8.groupby('City')[['Sales','Profit']].agg(['sum', 'mean']))

print("\n--- 按 Month 分组，计算 Sales 和 Profit 的总和 ---") # 2列
sales_profit_sum = df8.groupby('Month')[['Sales', 'Profit']].sum()
print(sales_profit_sum)

print()
result = df8.groupby('City').agg({
    'Sales': ['sum', 'mean'],
    'Profit': ['sum', 'mean']
})
print(result)

print("\n对不同列 应用不同统计函数：")
print(df8.groupby('City').agg({
    'Sales': ['sum', 'mean'],
    'Profit': ['sum', 'mean']
}))

print("\n使用自定义字典聚合函数：")
rules = {
    'Sales': 'sum',
    'Profit': 'max'
}
result = df8.groupby('Name').agg(rules)
print(result)

按城市查看销售额/利润 的总和和平均值:
     Sales             Profit
       sum        mean    sum  mean
City
上海     700  233.333333     78  26.0
北京     420  140.000000     42  14.0

--- 按 Month 分组，计算 Sales 和 Profit 的总和 ---
       Sales  Profit
Month
Feb      670      75
Jan      450      45

     Sales             Profit
       sum        mean    sum  mean
City
上海     700  233.333333     78  26.0
北京     420  140.000000     42  14.0

对不同列 应用不同统计函数：
     Sales             Profit
       sum        mean    sum  mean
City
上海     700  233.333333     78  26.0
北京     420  140.000000     42  14.0

使用自定义字典聚合函数：
       Sales  Profit
Name
Alice    370      15
Bob      750      35

In [131]:
# 分组的列 默认变成行索引，可以用 as_index=False 使之保持为普通列
print(df8.groupby('Name', as_index=False)['Sales'].sum())
print()
print(df8.groupby('City', as_index=False).agg({
    'Sales': ['sum', 'mean'],
    'Profit': ['sum', 'mean']
}))

print('\n按 City 分组，计算 Sales 的均值和 Profit 的最大值:')
print(df8.groupby('City', as_index=False).agg({
    'Sales': 'mean',
    'Profit': 'max'
}))

print('\n按 City 和 Name 分组，计算 Sales 的均值和 Profit 的最大值:')
print(df8.groupby(['City','Name'], as_index=False).agg({
    'Sales': 'mean',
    'Profit': 'max'
}))

    Name  Sales
0  Alice    370
1    Bob    750

  City Sales             Profit
         sum        mean    sum  mean
0   上海   700  233.333333     78  26.0
1   北京   420  140.000000     42  14.0

按 City 分组，计算 Sales 的均值和 Profit 的最大值:
  City       Sales  Profit
0   上海  233.333333      35
1   北京  140.000000      20

按 City 和 Name 分组，计算 Sales 的均值和 Profit 的最大值:
  City   Name  Sales  Profit
0   上海  Alice  150.0      15
1   上海    Bob  275.0      35
2   北京  Alice  110.0      12
3   北京    Bob  200.0      20

In [136]:
print(df8.groupby('City', as_index=False).agg({
    'Sales': 'sum',
    'Profit': 'mean'
}))

print()
print(df8.groupby('City', as_index=False)['Sales'].max())

# 命名聚合
print("\n--- 按 City 分组，计算 Sales 的总和 和 Profit 的均值 ---")
print(df8.groupby('City', as_index=False).agg(
    Total_Sales=('Sales', 'sum'),
    Average_Profit=('Profit', 'mean')
))

  City  Sales  Profit
0   上海    700    26.0
1   北京    420    14.0

  City  Sales
0   上海    300
1   北京    200

--- 按 City 分组，计算 Sales 的总和 和 Profit 的均值 ---
  City  Total_Sales  Average_Profit
0   上海          700            26.0
1   北京          420            14.0

In [137]:
df8[df8['Sales'] > 110].groupby('Name').agg(
    {
        'Sales': ['sum', 'mean'],
        'Profit': 'max'
    }
)

      Sales        Profit
        sum   mean    max
Name
Alice   270  135.0     15
Bob     750  250.0     35

In [ ]:
df8[df8['Sales'] > 110].groupby('Name', as_index=False).agg(
    Total_sales = ('Sales', 'sum'),
    Max_Profit = ('Profit', 'max')
)

    Name  Total_sales  Max_Profit
0  Alice          270          15
1    Bob          750          35

In [ ]:
dates = pd.date_range("20260101", periods=6)
print(dates)
print()

df9 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
print("原始 df9:") # 这里行索引是日期
print(df9)
print()

print("--- 取出 A 列 ---")
print(df9.A) # print(df9['A'])

DatetimeIndex(['2026-01-01', '2026-01-02', '2026-01-03', '2026-01-04',
               '2026-01-05', '2026-01-06'],
              dtype='datetime64[ns]', freq='D')

原始 df9:
                   A         B         C         D
2026-01-01  0.662798  0.534077  1.453892  1.273943
2026-01-02  0.053636 -0.518139  1.449568  1.450571
2026-01-03 -2.066401  0.909156 -1.351973  0.367094
2026-01-04  0.397771 -0.909339 -0.686836  0.105648
2026-01-05 -0.916862  0.028630 -0.002501 -1.329246
2026-01-06  0.809602  0.188114  0.115671  0.805109

--- 取出 A 列 ---
2026-01-01    0.662798
2026-01-02    0.053636
2026-01-03   -2.066401
2026-01-04    0.397771
2026-01-05   -0.916862
2026-01-06    0.809602
Freq: D, Name: A, dtype: float64

In [ ]:
# []传列名选列，传切片选行
print(df9[0:3])
print()
# 按日期字符串切片（包含终点！）
print(df9["20260102":"20260104"])

print("\n第一行：")
print(df9.iloc[0])
# print('也等价于：')
# print(df9.loc[dates[0]])
# print()

print(df9.loc[:,['A','C']])  # 取所有行，A和C列
print()

print(df9.iloc[::2, 1:3])  # 取偶数行，B和C列
print()

print("--- 取出特定行列的值 ---")
print(df9.iloc[1,2])  # 第二行第三列的值
print(df9.loc[dates[1],'C']) 
print(df9.at[dates[1],'C'])  # loc 和 at 适合标签索引
print(df9.iat[1,2])  # iloc 和 iat 适合整数位置索引

                   A         B         C         D
2026-01-01  0.662798  0.534077  1.453892  1.273943
2026-01-02  0.053636 -0.518139  1.449568  1.450571
2026-01-03 -2.066401  0.909156 -1.351973  0.367094

                   A         B         C         D
2026-01-02  0.053636 -0.518139  1.449568  1.450571
2026-01-03 -2.066401  0.909156 -1.351973  0.367094
2026-01-04  0.397771 -0.909339 -0.686836  0.105648

第一行：
A    0.662798
B    0.534077
C    1.453892
D    1.273943
Name: 2026-01-01 00:00:00, dtype: float64
                   A         C
2026-01-01  0.662798  1.453892
2026-01-02  0.053636  1.449568
2026-01-03 -2.066401 -1.351973
2026-01-04  0.397771 -0.686836
2026-01-05 -0.916862 -0.002501
2026-01-06  0.809602  0.115671

                   B         C
2026-01-01  0.534077  1.453892
2026-01-03  0.909156 -1.351973
2026-01-05  0.028630 -0.002501

--- 取出特定行列的值 ---
1.4495676831300317
1.4495676831300317

In [157]:
# 日期包含1.4
print(df9.loc["20260102":"20260104", ["A", "B"]])
print()

# 获取索引为 0, 2, 4... 的行
even_rows = df9[::2]

# 奇数行（索引为 1, 3, 5...）
odd_rows = df9[1::2]

# 获取或修改单个标量值 at iat 速度快 开销小

# at (按名字)
val = df9.at["2026-01-01", "A"]
print(val)

# iat (按位置)
val = df9.iat[0, 0]
print(f"val = {val}\n")

print("第四行:")
print(df9.iloc[3])
print(df9.iloc[3:5,0:2])  # 第4-5行，A和B列
print()
# 选第 2, 3, 5 行，第 1, 3 列
print(df9.iloc[[1, 2, 4], [0, 2]])
print()
# 选2-3列
print(df9.iloc[:, 1:3])

                   A         B
2026-01-02  0.053636 -0.518139
2026-01-03 -2.066401  0.909156
2026-01-04  0.397771 -0.909339

0.6627979809786689
val = 0.6627979809786689

第四行:
A    0.397771
B   -0.909339
C   -0.686836
D    0.105648
Name: 2026-01-04 00:00:00, dtype: float64
                   A         B
2026-01-04  0.397771 -0.909339
2026-01-05 -0.916862  0.028630

                   A         C
2026-01-02  0.053636  1.449568
2026-01-03 -2.066401 -1.351973
2026-01-05 -0.916862 -0.002501

                   B         C
2026-01-01  0.534077  1.453892
2026-01-02 -0.518139  1.449568
2026-01-03  0.909156 -1.351973
2026-01-04 -0.909339 -0.686836
2026-01-05  0.028630 -0.002501
2026-01-06  0.188114  0.115671

In [ ]:
# 取出最后两行的A,C两列
print(df9.iloc[-2:, [0,2]])
# df.loc["A":"C"] 包含 C，而 df.iloc[0:2] 不包含下标为 2 的那一行

print()
df_test = pd.DataFrame({"val": [10, 20, 30]}, index=[1, 2, 3])

# df_test.iloc[0:2] -> 10, 20
# df_test.loc[1:2]  -> 10, 20 (因为包含终点标签 2)

In [161]:
dates = pd.date_range("20260101", periods=6)
df10 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
# 自动对齐index 此为日期 对不上的填入 NaN

# s1 的日期从 1月2日开始，共6天（到1月7日）
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20260102", periods=6))
df10["F"] = s1
# 结果：1月1日没有对应数据，F列会是 NaN；1月7日的数据会被丢弃，
# 因为 df10 只到1月6日
print(df10)
print()

# 单个值修改
df10.at['20260101', 'A'] = 100 # '20260101'可改为 dates[0]
df10.iat[1, 1] = 200
print(df10)
print()

# 多个值修改
# df10.loc[:, "D"] = np.array([5] * len(df10))
df10.loc[:, 'D'] = [10, 20, 30, 40, 50, 60]
df10.iloc[2:4, 0:2] = [[300, 400], [500, 600]]
print(df10)

                   A         B         C         D    F
2026-01-01 -1.588050  0.136025 -1.414081 -0.573461  NaN
2026-01-02 -0.378514  0.295660 -1.070903 -0.506003  1.0
2026-01-03  0.230637  0.415251  0.123995  0.116940  2.0
2026-01-04  1.017512  1.575440  1.631749 -0.601233  3.0
2026-01-05  1.187437 -0.255707  0.209737  0.629948  4.0
2026-01-06  0.462186 -0.234242  0.163210  0.616980  5.0

                     A           B         C         D    F
2026-01-01  100.000000    0.136025 -1.414081 -0.573461  NaN
2026-01-02   -0.378514  200.000000 -1.070903 -0.506003  1.0
2026-01-03    0.230637    0.415251  0.123995  0.116940  2.0
2026-01-04    1.017512    1.575440  1.631749 -0.601233  3.0
2026-01-05    1.187437   -0.255707  0.209737  0.629948  4.0
2026-01-06    0.462186   -0.234242  0.163210  0.616980  5.0

                     A           B         C     D    F
2026-01-01  100.000000    0.136025 -1.414081  10.0  NaN
2026-01-02   -0.378514  200.000000 -1.070903  20.0  1.0
2026-01-03  300.000000  400.000000  0.123995  30.0  2.0
2026-01-04  500.000000  600.000000  1.631749  40.0  3.0
2026-01-05    1.187437   -0.255707  0.209737  50.0  4.0
2026-01-06    0.462186   -0.234242  0.163210  60.0  5.0

In [ ]:
df2 = df10.copy()
df2[df2 > 0] = -df2 # 只对符合条件的格子赋值
print(df2)

print("\n 增加一列E：")
# 取前4行，并增加一个空的 'E' 列
df1 = df10.reindex(index=dates[0:4], columns=list(df10.columns) + ["E"])
# new_df = df.reindex(index=新行索引, columns=新列索引)
# 改变行或列的顺序，或者增加/删除索引。
# 如果新索引在原数据中不存在，它会自动填充 NaN
# 默认返回新副本而非原地修改 df1.dropna(how='any', inplace=False)

# 给 E 列的部分行赋值
df1.loc[dates[0] : dates[1], "E"] = 1
print(df1)

print("\n 删除含有缺失值的行后的 df1:")
print(df1.dropna(how='any'))

# 均值填充
print("\n 用均值填充缺失值后的 df1:")
print(df1.fillna(df1.mean(numeric_only=True)))
print('\n众数填充:')
df1['E'] = df1['E'].fillna(df1['E'].mode()[0])  # 用众数填充分类列缺失值
df1["E"] = df1["E"].fillna(df1["E"].mean())
print(df1)
print('\n 负数归零:')
df1[df1 < 0] = 0
print(df1)

                     A           B         C     D    F
2026-01-01 -100.000000   -0.136025 -1.414081 -10.0  NaN
2026-01-02   -0.378514 -200.000000 -1.070903 -20.0 -1.0
2026-01-03 -300.000000 -400.000000 -0.123995 -30.0 -2.0
2026-01-04 -500.000000 -600.000000 -1.631749 -40.0 -3.0
2026-01-05   -1.187437   -0.255707 -0.209737 -50.0 -4.0
2026-01-06   -0.462186   -0.234242 -0.163210 -60.0 -5.0

 增加一列E：
                     A           B         C     D    F    E
2026-01-01  100.000000    0.136025 -1.414081  10.0  NaN  1.0
2026-01-02   -0.378514  200.000000 -1.070903  20.0  1.0  1.0
2026-01-03  300.000000  400.000000  0.123995  30.0  2.0  NaN
2026-01-04  500.000000  600.000000  1.631749  40.0  3.0  NaN

 删除含有缺失值的行后的 df1:
                   A      B         C     D    F    E
2026-01-02 -0.378514  200.0 -1.070903  20.0  1.0  1.0

 用均值填充缺失值后的 df1:
                     A           B         C     D    F    E
2026-01-01  100.000000    0.136025 -1.414081  10.0  2.0  1.0
2026-01-02   -0.378514  200.000000 -1.070903  20.0  1.0  1.0
2026-01-03  300.000000  400.000000  0.123995  30.0  2.0  1.0
2026-01-04  500.000000  600.000000  1.631749  40.0  3.0  1.0

众数填充:
                     A           B         C     D    F    E
2026-01-01  100.000000    0.136025 -1.414081  10.0  NaN  1.0
2026-01-02   -0.378514  200.000000 -1.070903  20.0  1.0  1.0
2026-01-03  300.000000  400.000000  0.123995  30.0  2.0  1.0
2026-01-04  500.000000  600.000000  1.631749  40.0  3.0  1.0

 负数归零:
                A           B         C     D    F    E
2026-01-01  100.0    0.136025  0.000000  10.0  NaN  1.0
2026-01-02    0.0  200.000000  0.000000  20.0  1.0  1.0
2026-01-03  300.0  400.000000  0.123995  30.0  2.0  1.0
2026-01-04  500.0  600.000000  1.631749  40.0  3.0  1.0

In [175]:
dates = pd.date_range("20260101", periods=6)
df11 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df11["F"] = [np.nan, 1.0, 2.0, 3.0, 4.0, 5.0] # 手动加一列带空值的 F
print("原始 df11:")
print(df11)
print()
# print(df11.info())
print(df11.mean()) # Series type()

原始 df11:
                   A         B         C         D    F
2026-01-01  0.478995  1.246142  0.296918 -0.814587  NaN
2026-01-02 -0.083191  2.278865 -1.678131 -2.135639  1.0
2026-01-03 -0.444345  0.395508  1.141839  4.142536  2.0
2026-01-04 -0.477823 -2.469368 -1.311705 -0.485938  3.0
2026-01-05 -0.144829  0.975392  1.419519  1.414929  4.0
2026-01-06  2.267975  1.170444  0.096817 -0.792692  5.0

A    0.266130
B    0.599497
C   -0.005790
D    0.221435
F    3.000000
dtype: float64

In [180]:
# 统计函数（mean, sum, std）：自动排除缺失值（NaN）。

col_mean = df11.mean()

row_mean = df11.mean(axis=1)

# 使用 agg：聚合 降维 一列变成一个数
df_agg = df11.agg(lambda x: np.mean(x) * 10)
print(df_agg)
print()
# 使用 transform：把所有格子都放大 100 倍（结构不变）
df_trans = df11.transform(lambda x: x * 100)
print(df_trans)

A     2.661303
B     5.994970
C    -0.057904
D     2.214348
F    30.000000
dtype: float64

                     A           B           C           D      F
2026-01-01   47.899476  124.614153   29.691846  -81.458711    NaN
2026-01-02   -8.319136  227.886492 -167.813099 -213.563909  100.0
2026-01-03  -44.434494   39.550780  114.183850  414.253602  200.0
2026-01-04  -47.782274 -246.936825 -131.170471  -48.593758  300.0
2026-01-05  -14.482873   97.539214  141.951868  141.492851  400.0
2026-01-06  226.797476  117.044366    9.681737  -79.269173  500.0

In [182]:
s = pd.Series(np.random.randint(10, 15, size=10))
print(f's = \n{s}\n')

counts = s.value_counts()
print("每个数字出现的次数:")
print(counts)

s =
0    14
1    12
2    14
3    13
4    13
5    13
6    14
7    10
8    10
9    11
dtype: int32

每个数字出现的次数:
14    3
13    3
10    2
12    1
11    1
Name: count, dtype: int64

In [183]:
df_left = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})

# 
df_right = pd.DataFrame({
    'ID': [1, 2, 5],
    'Sales': [100, 200, 500]
})
print("左表 df_left:")
print(df_left)
print()
print("右表 df_right:")
print(df_right)

左表 df_left:
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David

右表 df_right:
   ID  Sales
0   1    100
1   2    200
2   5    500

In [ ]:
# pd.concat默认上下拼接，按行拼接，把今天的数据追加到昨天的后面
df_concat = pd.concat([df_left, df_right], axis=0, ignore_index=True)
print("\n--- 按行拼接 df_left 和 df_right ---")
print(df_concat)
print()
# axis = 1 按列拼接 左右拼接 新列强行加到右边
df_concat_col = pd.concat([df_left, df_right], axis=1)
print("\n--- 按列拼接 df_left 和 df_right ---")
print(df_concat_col)

--- 按行拼接 df_left 和 df_right ---
   ID     Name  Sales
0   1    Alice    NaN
1   2      Bob    NaN
2   3  Charlie    NaN
3   4    David    NaN
4   1      NaN  100.0
5   2      NaN  200.0
6   5      NaN  500.0


--- 按列拼接 df_left 和 df_right ---
   ID     Name   ID  Sales
0   1    Alice  1.0  100.0
1   2      Bob  2.0  200.0
2   3  Charlie  5.0  500.0
3   4    David  NaN    NaN

In [ ]:
# pd.merge：按某 列 的值 对齐合并 merge的简化版为基于index的join
# 根据两张表里共同拥有的那一列（比如 ID），把对应的数据找出来拼在一起
# 默认inner 只保留两张表都有的ID，left以左表为准，右表没数据的填NaN
# right以右表为准，左表没数据的填NaN，outer取并集，缺失值填NaN
df_merged = pd.merge(df_left, df_right, on='ID', how='inner')
print("\n--- 按 ID 列对齐合并 df_left 和 df_right（内连接）---")
print(df_merged)

df_merged_left = pd.merge(df_left, df_right, on='ID', how='left')
print("\n--- 按 ID 列对齐合并 df_left 和 df_right（左连接）---")
print(df_merged_left)

df_merged_outer = pd.merge(df_left, df_right, on='ID', how='outer')
print("\n--- 按 ID 列对齐合并 df_left 和 df_right（外连接）---")
print(df_merged_outer)

df_merged_right = pd.merge(df_left, df_right, on='ID', how='right')
print("\n--- 按 ID 列对齐合并 df_left 和 df_right（右连接）---")
print(df_merged_right)

--- 按 ID 列对齐合并 df_left 和 df_right（内连接）---
   ID   Name  Sales
0   1  Alice    100
1   2    Bob    200

--- 按 ID 列对齐合并 df_left 和 df_right（左连接）---
   ID     Name  Sales
0   1    Alice  100.0
1   2      Bob  200.0
2   3  Charlie    NaN
3   4    David    NaN

--- 按 ID 列对齐合并 df_left 和 df_right（外连接）---
   ID     Name  Sales
0   1    Alice  100.0
1   2      Bob  200.0
2   3  Charlie    NaN
3   4    David    NaN
4   5      NaN  500.0

--- 按 ID 列对齐合并 df_left 和 df_right（右连接）---
   ID   Name  Sales
0   1  Alice    100
1   2    Bob    200
2   5    NaN    500

In [ ]:
# df.join 默认按照行索引index合并，语法为 df1.join(df2, how='left')

# 先把 ID 设为索引
left_idx = df_left.set_index('ID')
right_idx = df_right.set_index('ID')

print("\n--- 左表 left_idx（ID 设为索引）---")
print(left_idx)
print("\n--- 右表 right_idx（ID 设为索引）---")
print(right_idx)

print("\n--- 使用 join 方法按 ID 列对齐合并 df_left 和 df_right（默认左连接）---")
df_joined = left_idx.join(right_idx, how='left')
print(df_joined)

print("\n--- 使用 join 方法按 ID 列对齐合并 df_left 和 df_right（内连接）---")
print(left_idx.join(right_idx, how='inner'))

print("\n--- 使用 join 方法按 ID 列对齐合并 df_left 和 df_right（外连接）---")
print(left_idx.join(right_idx, how='outer'))

print("\n--- 使用 join 方法按 ID 列对齐合并 df_left 和 df_right（右连接）---")
print(left_idx.join(right_idx, how='right'))

--- 左表 left_idx（ID 设为索引）---
       Name
ID
1     Alice
2       Bob
3   Charlie
4     David

--- 右表 right_idx（ID 设为索引）---
    Sales
ID
1     100
2     200
5     500

--- 使用 join 方法按 ID 列对齐合并 df_left 和 df_right（默认左连接）---
       Name  Sales
ID
1     Alice  100.0
2       Bob  200.0
3   Charlie    NaN
4     David    NaN

--- 使用 join 方法按 ID 列对齐合并 df_left 和 df_right（内连接）---
     Name  Sales
ID
1   Alice    100
2     Bob    200

--- 使用 join 方法按 ID 列对齐合并 df_left 和 df_right（外连接）---
       Name  Sales
ID
1     Alice  100.0
2       Bob  200.0
3   Charlie    NaN
4     David    NaN
5       NaN  500.0

--- 使用 join 方法按 ID 列对齐合并 df_left 和 df_right（右连接）---
     Name  Sales
ID
1   Alice    100
2     Bob    200
5     NaN    500